.social-icons {
    display: flex;              
    justify-content: left;    
    gap: 15px;                  
    margin-top: 20px;
}
.social-icons i {
    width: 45px;
    height: 45px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;         
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.social-icons i:hover {
    background-color: #ff4d6d;  
    transform: scale(1.1);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}
body{
    background:rgb(1, 1, 58);
    color:white;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}
.logo{
    color:rgb(229, 57, 57);
}
nav a{
    color:white;
    margin-left:25px;
    text-decoration:none;
    font-size:14px;
}
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:60px;
}
.hero-text h4{
    color:aqua;
}
.hero-text h1{
    font-size:42px;
    margin:10px 0;
}
.hero-text p{
    max-width:400px;
    margin-bottom:20px;
    color:#ccc;
}
.hero-img img{
    width:320px;
}
.about{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:60px;
}
.about-img img{
    width:500px;
}
.about-text{
    max-width:500px;
}
.about-text h2{
    margin-bottom:15px;
}
.about-text p{
    margin-bottom:15px;
    color:#ccc;
}
.about-text ul{
    list-style:none;
    margin-bottom:20px;
}
.about-text li{
    margin:5px 0;
}
.ass pre {
    margin-bottom: 15px;  
}
button{
    padding:12px 25px;
    background:#ff4b5c;
    border:none;
    color:white;
    border-radius:6px;
    cursor:pointer;
}
